* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body {
  overflow: auto;
  touch-action: auto;
  position: relative;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #fafbfc, gray);
}
.popup-aviso {
  position: fixed;
  width: 10cm;
  height: 6cm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid red;
  z-index: 9999;
  padding: 1rem;
  color: red;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none; /* Oculta por padrão */
}
.Painel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 800px;
  height: 570px;
  background: #8d8e8f;
}

/* Painel sinoptico de sinalizacao dos alarmes na IHM */
.PainelStatusAlarme {
  position: absolute;
  top: 0;
  left: 830px;
  width: 360px;
  height: 140px;
  background: none;
  border: solid 4px gray;
}
.PainelStatusAlarme .StatuS {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #a9a9a9; /* cinza */
  border: 1px solid #000; /* borda preta */
  width: 125px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
  font-family: sans-serif;
}
.PainelStatusAlarme .sem-alarme {
  position: absolute;
  top: 105px;
  left: 6px;
  background-color: #a9a9a9; /* cinza */
  border: 1px solid #000; /* borda preta */
  width: 90px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  font-weight: bolder;
  font-family: sans-serif;
}
.PainelStatusAlarme .alarme-amarelo {
  position: absolute;
  top: 105px;
  left: 133px;
  background-color: #a9a9a9; /* cinza */
  border: 1px solid #000; /* borda preta */
  width: 90px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  font-weight: bolder;
  font-family: sans-serif;
}
.PainelStatusAlarme .alarme-vermelho {
  position: absolute;
  top: 105px;
  left: 255px;
  background-color: #a9a9a9; /* cinza */
  border: 1px solid #000; /* borda preta */
  width: 90px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  font-weight: bolder;
  font-family: sans-serif;
}
.PainelComando {
  position: absolute;
  top: 150px;
  left: 830px;
  width: 360px;
  height: 330px;
  background: none;
  border: solid 4px gray;
}
.Seletora {
  position: absolute;
  top: 175px;
  left: 150px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  transition: transform 0.5s ease; /* Suaviza a rotação */
}
.TraçoSeletora {
  position: absolute;
  top: 15px;
  left: 12px;
  display: block;
  width: 30px;
  height: 6px;
  background: white;
  transform: rotate(70deg);
}
.P4 {
  position: absolute;
  top: 120px;
  left: 110px;
  display: block;
  width: 40px;
  height: 3px;
  background: #000;
}
.P4 .texto {
  position: absolute;
  top: 23px;
  left: 50px;
  font-family: sans-serif;
  font-weight: bolder;
}
.P5 {
  position: absolute;
  top: 130px;
  left: 143px;
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
  transform: rotate(60deg);
  border-radius: 8px;
}
.P3 {
  position: absolute;
  top: 170px;
  left: 110px;
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
}
.P3 .texto {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: sans-serif;
  font-weight: bolder;
}
.P2 {
  position: absolute;
  top: 225px;
  left: 110px;
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
}
.P2 .texto {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: sans-serif;
  font-weight: bolder;
}
.P1 {
  position: absolute;
  top: 280px;
  left: 110px;
  display: block;
  width: 40px;
  height: 3px;
  background: #000;
}
.P1 .texto {
  position: absolute;
  top: -35px;
  left: 65px;
  font-family: sans-serif;
  font-weight: bolder;
}
.P6 {
  position: absolute;
  top: 269px;
  left: 144px;
  display: block;
  width: 28px;
  height: 3px;
  background: #000;
  transform: rotate(-50deg);
  border-radius: 6px;
}
.P8 {
  position: absolute;
  top: 280px;
  left: 210px;
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
}
.P7 {
  position: absolute;
  top: 270px;
  left: 189px;
  display: block;
  width: 28px;
  height: 3px;
  background: #000;
  transform: rotate(50deg);
  border-radius: 6px;
}
.SinopticoCargaProtegida {
  position: absolute;
  top: 50px;
  left: 275px;
  width: 40px;
  height: 40px;
  background: rgb(3, 3, 71);
  background: rgb(3, 3, 71);
  border: solid 3px;
  box-shadow: 0 0 5px rgb(3, 3, 71), 0 0 10px rgb(3, 3, 71),
    0 0 15px rgb(3, 3, 71), 0 0 0px rgb(3, 3, 71);
}
.LabelCargaSegura {
  position: absolute;
  top: 105px;
  left: 245px;
  width: 100px;
  height: 30px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: bolder;
  font-family: sans-serif;
}
.BotãoEmergencia {
  position: absolute;
  top: 145px;
  left: 235px;
  width: 115px;
  height: 140px;
  background: none;
  border: solid 3px gray;
}
.LabelConfirmaçãoDesligamento {
  position: absolute;
  top: 100px;
  left: 8px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: bolder;
  font-family: sans-serif;
  background: gray;
}
.ConfirmaçãoDesligar {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 60px;
  height: 60px;
  border: solid 2px;
  border-radius: 50%;
  font-size: 14px;
  box-shadow: 0 5px #c1c2c2;
  background: red;
}
.PainelComando h1 {
  position: absolute;
  top: 6px;
  left: 10px;
  width: 150px;
  height: 35px;
  border: solid 1px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bolder;
}
.CiaxaPainelComando {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 100px;
  height: 250px;
  background: gray;
}
.Posição1 {
  position: absolute;
  top: 190px;
  left: 6px;
  width: 90px;
  height: 43px;
  font-size: 10px;
  font-family: sans-serif;
  background: gray;
  font-weight: bolder;
  color: #d6d8da;
}
.Posição2 {
  position: absolute;
  top: 135px;
  left: 6px;
  width: 90px;
  height: 43px;
  font-size: 10px;
  font-family: sans-serif;
  background: gray;
  font-weight: bolder;
  color: #d6d8da;
}
.Posição3 {
  position: absolute;
  top: 80px;
  left: 6px;
  width: 90px;
  height: 43px;
  font-size: 10px;
  font-family: sans-serif;
  background: gray;
  font-weight: bolder;
  color: #d6d8da;  
}
.Posição4 {
  position: absolute;
  top: 30px;
  left: 6px;
  width: 90px;
  height: 43px;
  font-size: 10px;
  font-family: sans-serif;
  background: gray;
  font-weight: bolder;
  color: #d6d8da;
}
.PainelBypassGeral {
  position: absolute;
  top: 490px;
  left: 830px;
  width: 360px;
  height: 130px;
  background: none;
  border: solid 4px gray;
}
.Bypassgeral{
  position: absolute;
  top: 10px;
  left: 8px;
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bolder;
  font-family: sans-serif;
  background: gray;
}
.Transferbypass{
  position: absolute;
  top: 70px;
  left: 8px;
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bolder;
  font-family: sans-serif;
  background: gray;
}
.Retorn{
  position: absolute;
  top: 70px;
  left: 228px;
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bolder;
  font-family: sans-serif;
  background: gray;
}
.Seletor{
  position: absolute;
  top: 80px;
  left: 160px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #000;
  transition: transform 0.5s ease; /* Suaviza a rotação */

}
.TraçoSeletor{
  position: absolute;
  top: 10px;
  left: 12px;
  display: block;
  width: 22px;
  height: 6px;
  background: white;
  transform: rotate(90deg);
}
.Seletor .T1{
  position: absolute;
  top: -16px;
  left: -7px;
  font-weight: bold;
}
.Seletor .T1linha{
  position: absolute;
  top: 5px;
  left: -25px;
  display: block;
  width: 23px;
  height: 3px;
  transform: rotate(35deg);
  background: #000;
}
.Seletor .T2{
  position: absolute;
  top: -16px;
  left: 38px;
  font-weight: bold;
}
.Seletor .T2linha{
  position: absolute;
  top: 5px;
  left: 43px;
  display: block;
  width: 23px;
  height: 3px;
  transform: rotate(-40deg);
  background: #000;
}
.IHM {
  position: absolute;
  top: 36px;
  left: 39px;
  width: 720px;
  height: 500px;
  background: #d6d8da;
}
.Status_da_unidade {
  position: absolute;
  top: 319px;
  left: 153px;
  width: 370px;
  height: 95px;
  border: solid 2px grey;
}
#NO-BREAK-LOAD {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: black;
}
#Unit-in-bypass {
  position: absolute;
  top: 25px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #a3a4a5;
}
#Unit-in-emergency-mode {
  position: absolute;
  top: 43px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #a3a4a5;
}
#Unit-in-normal-mode {
  position: absolute;
  top: 60px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
}
#press-sl-again {
  position: absolute;
  top: 76px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #a3a4a5;
}
.Status_alarme {
  position: absolute;
  top: 319px;
  left: 530px;
  width: 180px;
  height: 95px;
  border: solid 2px grey;
}
.Status_alarme .alarm-status {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 11px;
  color: #050505;
}
.Status_alarme .qdm-off {
  position: absolute;
  top: 10px;
  left: 120px;
  font-size: 11px;
  font-weight: lighter;
  color: #a3a4a5;
}
.Gerador {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 523px;
  height: 300px;
  border: dashed 2px #a3a4a5;
  
}
.ShortBreak {
  position: absolute;
  top: 140px;
  left: 410px;
  width: 52px;
  height: 40px;
  background: none;
  border: dashed 2px #a3a4a5;
}
.SBOFF {
  position: absolute;
  top: 125px;
  left: 410px;
  width: 52px;
  height: 10px;
  background: none;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  border: dashed 2px #a3a4a5;
}
.ShortBreak h6 {
  position: absolute;
  top: 5px;
  left: 3px;
  text-align: center;
  font-size: 10px;
}
.ShortBreak h7 {
  position: absolute;
  top: 20px;
  left: 3px;
  text-align: center;
  font-size: 10px;
  color: green;
  font-weight: bold;
}
.Gerador h1 {
  position: absolute;
  top: 70px;
  left: -25px;
  font-size: 10px;
  font-weight: bold;
}
.Gerador h2 {
  position: absolute;
  top: 90px;
  left: -25px;
  font-size: 10px;
  font-weight: bold;
}
.Gerador h3 {
  position: absolute;
  top: 130px;
  left: 200px;
  font-size: 10px;
  font-weight: bold;
}
.Gerador h4 {
  position: absolute;
  top: 130px;
  left: 295px;
  font-size: 10px;
  font-weight: bold;
}
.Gerador h5 {
  position: absolute;
  top: -45px;
  left: 400px;
  font-size: 13px;
  font-weight: bold;
}
/*===========================Sinoptico de alarmes de sensores============================*/
.Sinotico {
  position: absolute;
  top: 115px;
  left: 340px;
  width: 63px;
  height: 95px;
  background: #5b687a;
  border: solid 4px gray;
  display: flex;
  justify-content: space-between; /* duas colunas */
  padding: 2px;
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px; /* espaçamento entre as caixas */
}
.box {
  width: 22px;
  height: 11px;
  background: green;
  border: dashed 1px black;
  text-align: center;
  font-size: 9px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 11px; /* centraliza o texto verticalmente */
}
.Caixadisjuntores {
  position: relative;
  top: 65px;
  left: 50px;
  width: 400px;
  height: 85px;
  background: none;
}
.TrianguloEntrada {
  position: absolute;
  top: 82%;
  left: 5%;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 20px solid rgb(2, 131, 60);
}
.TrianguloSaida {
  position: absolute;
  top: 82%;
  left: 90%;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 20px solid rgb(2, 131, 60);
}
.DJQD1 {
  position: absolute;
  top: 76px;
  left: 110px;
  display: block;
  background: #000;
  width: 35px;
  height: 3px;
}
.DJQD2 {
  position: absolute;
  top: 76px;
  left: 250px;
  display: block;
  background: #000;
  width: 35px;
  height: 3px;
}
.DJQD3 {
  position: absolute;
  top: -4px;
  left: 173px;
  display: block;
  background: #000;
  width: 35px;
  height: 3px;
  rotate: -45deg;
}
input:checked + label .DJQD1 {
  transform: rotate(-45deg);
  left: 102px;
  top: 65px;
  transition: 0s;
}
input:checked + label .DJQD2 {
  transform: rotate(-45deg);
  left: 250px;
  top: 63px;
  transition: 0s;
}
input:checked + label .DJQD3 {
  transform: rotate(45deg);
  left: 179px;
  top: 9px;
  transition: 0s;
}
#QD3 {
  position: absolute;
  top: 25px;
  left: 170px;
  transform: translate(-50%, -50%);
   
}
#QD2 {
  position: absolute;
  top: 90px;
  left: 250px;
  transform: translate(-50%, -50%);
   visibility: hidden;
}
#QD1 {
  position: absolute;
  top: 90px;
  left: 100px;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.Linha {
  position: absolute;
  top: 89%;
  left: 10%;
  width: 70px;
  height: 3px;
  background: green;
}
.Linha1 {
  position: absolute;
  top: 9px;
  left: 17%;
  width: 3px;
  height: 70px;
  background: green;
}
.Linha2 {
  position: absolute;
  top: 9px;
  left: 17%;
  width: 110px;
  height: 3px;
  background: green;
}
.Linha3 {
  position: absolute;
  top: 9px;
  left: 217px;
  width: 105px;
  height: 3px;
  background: green;
}
.Linha4 {
  position: absolute;
  top: 9px;
  left: 320px;
  width: 3px;
  height: 70px;
  background: green;
}
.Linha5 {
  position: absolute;
  top: 76px;
  left: 287px;
  width: 73px;
  height: 3px;
  background: green;
}
.Linha6 {
  position: absolute;
  top: 76px;
  left: 146px;
  width: 24px;
  height: 3px;
  background: green;
}
.Linha7 {
  position: absolute;
  top: 76px;
  left: 230px;
  width: 24px;
  height: 3px;
  background: green;
}
.Linha8 {
  position: absolute;
  top: 76px;
  left: 233px;
  width: 3px;
  height: 40px;
  background: green;
}
.Linha9 {
  position: absolute;
  top: 113px;
  left: 233px;
  width: 50px;
  height: 3px;
  background: green;
}
.Linha10 {
  position: absolute;
  top: 116px;
  left: 280px;
  width: 3px;
  height: 30px;
  background: green;
}
.Bobina {
  position: absolute;
  top: 70px;
  left: 170px;
  width: 60px;
  height: 17px;
  background: rgb(22, 22, 22);
}
.Bobina1 {
  position: absolute;
  top: 61px;
  left: 170px;
  width: 60px;
  height: 7px;
  background: rgb(22, 22, 22);
}
.Circulo {
  position: absolute;
  top: 74px;
  left: 106px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo1 {
  position: absolute;
  top: 74px;
  left: 140px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo2 {
  position: absolute;
  top: 74px;
  left: 250px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo3 {
  position: absolute;
  top: 74px;
  left: 282px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo4 {
  position: absolute;
  top: 7px;
  left: 175px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo5 {
  position: absolute;
  top: 7px;
  left: 213px;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 100%;
}
.Circulo6 {
  position: absolute;
  top: 95px;
  left: 30px;
  width: 13px;
  height: 13px;
  background:green;
  border-radius: 100%;
}
.Circulo7 {
  position: absolute;
  top: 129px;
  left: 250px;
  width: 13px;
  height: 13px;
  background: green;
  border-radius: 100%;
}
.Base {
  position: absolute;
  top: 268px;
  left: 50px;
  width: 335px;
  height: 15px;
  background: rgb(88, 88, 88);
}
.CaixaMotor {
  position: absolute;
  top: 180px;
  left: 50px;
}
#statusembreagem {
  position: absolute;
  width: 45px;
  height: 36px;
  top: 245px;
  left: 156px;
}
.CaixaCentro {
  position: absolute;
  top: 223px;
  left: 135px;
}
.CaixaAcumulador {
  position: absolute;
  top: 205px;
  left: 204px;
}
.Mode {
  position: absolute;
  top: 10px;
  left: 545px;
  width: 165px;
  height: 300px;
  border: dashed 2px #a3a4a5;
}
.Mode span {
  position: absolute;
  top: 10px;
  left: 110px;
  font-size: 12px;
  font-weight: bold;
}
.Mode h1 {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.Mode h2 {
  position: absolute;
  top: 60px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
.Mode h3 {
  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
.Mode h4 {
  position: absolute;
  top: 100px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: green;
}
.Mode h5 {
  position: absolute;
  top: 120px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
.Typebypass {
  position: absolute;
  top: 155px;
  left: 545px;
  width: 165px;
  height: 70px;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
.Typebypass h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 13px;
  color: gray;
  font-weight: bold;
}
.Typebypass h2 {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 13px;
  font-weight: bold;
  color: gray;
}
.Typebypass h3 {
  position: absolute;
  top: 40px;
  left: 66px;
  font-size: 13px;
  font-weight: bold;
  color: green;
}
.StatusMode {
  position: absolute;
  top: 230px;
  left: 545px;
  width: 165px;
  height: 70px;
  background: none;
}
.StatusMode ::before {
  position: absolute;
  content: 'HMI MODE';
  top: -30px;
  left: -45px;
  font-size: 14px;
}
.StatusMode h1 {
  position: absolute;
  top: 40px;
  left: 55px;
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
.Btest {
  position: absolute;
  top: 315px;
  left: 5px;
  width: 160px;
  height: 105px;
  background: none;
}
.Lamps {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130px;
  height: 25px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 5px #c1c2c2;
}

.Horn {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 130px;
  height: 25px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 5px #c1c2c2;
}
.Idioma {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 130px;
  height: 25px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 5px #c1c2c2;
}
.Controle {
  position: absolute;
  top: 421px;
  left: 0px;
  width: 721px;
  height: 70px;
  border-top: solid 6px #a3a4a5;
}
.Alarme {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 0 5px #c1c2c2;
  font-weight: bold;
}
.Status {
  position: absolute;
  top: 10px;
  left: 140px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-style: unset;
  box-shadow: 0 5px #c1c2c2;
  font-weight: bold;
}
.Contr {
  position: absolute;
  top: 10px;
  left: 269px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 0 5px #c1c2c2;
  font-weight: bold;
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
.Config {
  position: absolute;
  top: 421px;
  left: 400px;
  width: 140px;
  height: 80px;
  border-left: 2px solid #a3a4a5;
  border-right: 2px solid #a3a4a5;
}
.Configuração {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 0 5px #c1c2c2;
  font-weight: bold;
}
.HORA {
  position: absolute;
  top: 450px;
  left: 589px;
  width: 90px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}
/* Configuração do grafico de %*/
.power-bar {
  position: absolute;
  top: 340px;
  left: 330px;
  width: 180px;
  height: 50px;
  background-color: #e0e0e0;
  border: 1px solid #000;
}
.power-bar-fill {
  width: calc(600 / 1600 * 100%); /* 50.9kW de 1600kW */
  height: 100%;
  background-color: lightgreen;
}
.power-bar-text {
  position: absolute;
  top: 2px;
  left: 90px;
  transform: translateX(-50%);
  color: deepskyblue;
  font-size: 14px;
  font-weight: bold;
}
.voltage-frequency {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 200px;
  text-align: left;
  color: deepskyblue;
  font-size: 12px;
}
.voltage-frequency span {
  margin: 0 20px;
}
.scale {
  position: absolute;
  bottom: -20px;
  width: 100%;
  font-size: 9px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.dashed-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  left: calc(1600 / 1600 * 100% * 0.8); /* 80% visual */
  border-left: 1px dashed black;
}
/*============== Led de alarmes============*/
.circulo-verde  {
  position: absolute;
  width: 40px;
  height: 40px;
  background: green;
  background: green;
  border-radius: 100%;
  border: solid 3px;
  box-shadow: 0 0 5px green, 0 0 10px green, 0 0 15px green, 0 0 0px green;
  display: inline-block;
  opacity: 1;
}
.circulo-amarelo  {
  position: absolute;
  width: 40px;
  height: 40px;
  background: yellow;
  background: yellow;
  border-radius: 100%;
  border: solid 3px;
  box-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow, 0 0 0px yellow;
  display: inline-block;
  opacity: 0.2;
}
.circulo-vermelho  {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  background: red;  
  border-radius: 100%;
  border: solid 3px;
  box-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 0px red;
  display: inline-block;
  opacity: 0.2;
}
/*CSS Referente a pagina de status*/
.container-status{
  position: relative;
  width: 150px;
  height: 400px;
  top: 25px;
  left: 10px;
  display: flex;
  flex-direction: column;
  border: dashed 1px black;
  justify-content: space-evenly;
  align-items: center;
}
.botoes {
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 0 5px #858686;
  font-weight: bold;
  background: #9fa1a1;
}
.container-status-botao{
  position: relative;
  width: 710px;
  height: 65px;
  top: 27px;
  left: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-top: solid 4px rgb(132, 131, 131);
}
.botoess{
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 0 5px #858686;
  font-weight: bold;
  background: #9fa1a1;
}
.descrição-status{
  position: relative;
  width: 500px;
  height: 400px;
  top: -448px;
  left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 14px;
  font-family: sans-serif;
}
.texto-statu{
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-size: 10px;
}
/*Pagina control do sistema*/
.mains-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px;
  margin: 0;
  height: 60px;
}
.mains-mod {
  width: 115px;
  height: 40px;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 0 5px #c1c2c2;
  background: gray;
  border: 1px solid gray;
  font-weight: bold;
  flex-shrink: 0;
  transition: background 0.3s ease;
}
.mains-mod.ativo {
  background: green;
  border-color: darkgreen;
}
.pagina_control_html_main-mode{
  position: absolute; 
  top: 270px; 
  border: solid 2px gray; 
  width: 250px; 
  height: 145px; 
  left: 5px; 
}
.pagina_control_html-label{
  font-size: 11px; 
  padding: 3px;
  margin-top: 0px; 
  height: 5px;
}
.pagina_control_html_dcm{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 7px;
  top: 335px;
  left: 262px;
  height: 80px;
  width: 180px;
  border: solid 2px gray;
}
.pagina_control_html_status_alarme{
  position: absolute;
  top: 335px;
  left: 449px;
  height: 80px;
  width: 262px;
  border: solid 2px gray;
}
.pagina_control_html_alarm-status {
  font-size: 12px;
  margin-left: 5px;
  font-family: sans-serif;
}
.pagina_control_html_qdm-off{
  font-size: 12px;
  margin-left: 30px;
  font-family: sans-serif;
}
.pagina_control_html_General-by-pass{
  position: absolute;
  top: 270px;
  left: 262px;
  height: 60px;
  width: 262px;
  border: solid 2px gray;
}
.pagina_control_html_no-break-load{
  position: absolute;
  top: 256px;
  left: 530px;
  height: 74px;
  width: 180px;
  border: solid 2px gray;
}
.pagina_control_html_enginetest{
  position: absolute;
  top: 195px;
  left: 530px;
  height: 55px;
  width: 180px;
  border: dashed 2px gray;
}
.pagina_control_html_modeihm{
  position: absolute;
  top: 8px;
  left: 530px;
  height: 180px;
  width: 180px;
  border: dashed 2px gray;
}
.Gerador#gerador {
  position: absolute;
  border: none;
  top: -16px;
  left: 20px;
}
.Sinotico#sinotico{
  left: 380px;
}
.DCM{
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
}
.DCM#dcm{
  font-size: 15px;
  font-weight: bold;
}
.general-by-pass{
  position: absolute;
  margin-top: 5px;
  margin-left: 12px;
  flex-direction: row;
  flex-shrink: 0;
  display: flex;
  gap: 10px 20px; /* row-gap column gap */
}
.pagina_control_html_botao{
  padding: 2px;
  margin: 0;
  width: 110px;
  height: 30px;
  font-weight: bold;
  background: gray;
  border-radius: 3px;
  box-shadow: 0 5px #c1c2c2;
  border: none;
}
.pagina_control_html_General-by-pass span{
  font-weight: bold;
  margin-left: 5px;
}
.pagina_control_html_no-break-load span{
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
  font-size: 15px;
}
.pagina_control_html_enginetest div{
display: flex;
flex-direction: row;
gap: 10px 30px; /* row-gap column gap */
flex-shrink: 0;
margin-left: 10px;
margin-top: 5px;
}
.pagina_controltest{
  padding: 2px;
  margin: 0;
  width: 65px;
  height: 25px;
  font-weight: bold;
  background: gray;
  border-radius: 3px;
  box-shadow: 0 5px #c1c2c2;
  border: none;
  
}
.pagina_control_html_enginetest span{
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 5px;
  font-size: 15px;
}
.pagina_control_html_modeihm div{
display: flex;
flex-direction: column;
gap: 8px 30px; /* row-gap column gap */
flex-shrink: 0;
margin-left: 10px;
margin-top: 20px;
}
.pagina_controlmodeihm{
  padding: 2px;
  margin: 0;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  background: rgb(184, 183, 183);
  border-radius: 3px;
  box-shadow: 0 5px #c1c2c2;
  border: none;
}
.pagina_control_html_modeihm {
  font-family: sans-serif;
  text-align: center;
}
.pagina_control_html_modeihm span {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  top: 10px;
}
.pagina_control_html_modeihm #mainfault{
  background: grey;
}
.Painel button{
  cursor: pointer;
}

